body{
  margin: 0;
  padding: 0;
  background-image: url('/img/flor2.jpeg');
   color: #553f3f;


}

.fondo{
    width: 1270px;
    padding: 20px;
    background-color: rgb(228, 178, 248);
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 25px;
}
      .card-img-top {
        height: 200px;
        object-fit: cover;
      }
      .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
      .card {
        width: 18rem;
      }
